body,
html {
  margin: 0;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto Mono", sans-serif;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
}

.mainContent {
  flex: 1;
}

.hidden {
  visibility: hidden;
}
.A4Paper {
  width: 297mm;
  height: 210mm;
  padding: 2mm;
  margin: auto;
}

.logoContainer,
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25em;
  margin-top: 1em;
}

.buttonContainer {
  margin: 4em;
}

.imagesContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

footer {
  text-align: center;
  margin-top: 1.5em;
}

footer p {
  font-size: 0.95em;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.mainButton {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.mainButton:hover,
.mainButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.mainButton:hover {
  transform: translateY(-1px);
}

.mainButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.deleteButton {
  background-color: #a5d3d3;
  margin-left: 2em;
}

@media print {
  .buttonContainer,
  .logoContainer,
  footer {
    display: none;
  }
}
